header{
    border-radius: 10px;
 text-decoration: none;
    font-style: oblique;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    background-color: #00c2a8;
}
header :hover{
    background-color: #008b74;
}
main{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    padding-top: 15%;
}


footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: end;
  
    background-color: #00c2a8;
   
}
footer a {
    color: aliceblue;
}
body{
    height: 800px;
    background-color: #008b74;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.spaceing{
    text-decoration: none;
 padding: 0% 5% 0% 5%;
}
.inputStyle{

    
    width: 50%;
    display: flex;
    justify-items: flex-end;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;

}



.card {  
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 200px;
    max-height: 460px  ;
    margin-left: 5%;
    width: 25%;
    height : 25% ;
   
    border-radius: 15%;
    border: 2 px solid black;
background-color: #13c3c3;
 }
 .card img{
    width: 100%;
    height: 50%;
    border-radius: 15%;
 }
 footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: end;
  bottom: 0;
    background-color: #00c2a8;
   
}
.employAll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.employTable{
 height: 300px;
 width: 500px;
 
  
    border-width: 50px;
    border: black;
    border-color: black;
    background-color: wheat;
}
/* .employRow{
display: flex;
 justify-content: space-evenly;
} */
